<% provide :title, t("static_pages.about.title") %>
<%= t "static_pages.about.title" %><p>
  <%= link_to t("static_page.about.link1"), Settings.about.servers.link1 %>
  <%= link_to t("static_page.about.link2"), Settings.about.servers.link2 %>
  <%= link_to t("static_page.about.link3"), Settings.about.servers.link3 %>
  <%= link_to t("static_page.about.link4"), Settings.about.servers.link3 %>
  <%= t "static_pages.about.text" %>
</p>
