<ul>
  <li><%= link_to t("english"), locale: "en" %></li>
  <li><%= link_to t("vietnamese"), locale: "vi" %></li>
</ul>
<footer class="footer">
  <small>
    <%= link_to t("static_page.contact.intro"), Settings.contact.servers.link1 %>
    <%= link_to t("static_page.contact.intro"), Settings.contact.servers.link1 %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_page.about.title"), "#" %></li>
      <li><%= link_to t("static_page.contact.title"), "#" %></li>
      <li><%= link_to t("static_page.new.title"), Settings.contact.servers.link1 %></li>
    </ul>
  </nav>
</footer>
